
body {
    margin: 0;
    background-image: url('fondo.png');
    background-repeat: repeat-y; /* Esto es lo que hace el bucle hacia abajo */
    background-size: 100% auto;  /* Para que ocupe todo el ancho */
}

header{
    background-image: url(fondoheader.png);
    background-size: cover; 
    background-position: center top;
    min-height: 991px; 
    display: flex;
    flex-direction: column; /* Esto hace que las cosas se apilen para abajo */
    padding-left: 10%; /* Empuja todo el bloque a la derecha */
    padding-top: 83px; /* Empuja todo el bloque hacia abajo */
}

.Primero {
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centra el logo, el texto y el botón UNO ABAJO DEL OTRO */
    width: fit-content;  /* Para que la caja solo ocupe lo que necesita */
    max-width: 650px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Esto es el Bold */
    font-size: 45px;
    color: white;
    text-align: center; /* Para que los dos renglones queden centrados entre sí */
    line-height: 1.2;   /* Para que los renglones no queden muy separados */
    margin-left: 0%;   /* Alineado con tu logo */
    margin-top: 40px;
}

p {
    font-family: 'Jersey 10', serif; /* La fuente nueva */
    font-size: 40px; /* Al ser una fuente pixelada, capaz necesites subirle un poco el tamaño para que se lea bien */
    color: white;
    text-align: center;
    line-height: 1.2;
    margin-left: 0%;
    margin-top: 12px;
}

.btn-rojo {
    background-color: #D10C31; /* El rojo de tu Figma */
    color: white;
    border-radius: 35px; /* Para que sea redondito */
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 18px 90px;
    font-size: 1.6rem;;
}

.frase {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la mancha horizontalmente */
    padding: 90px 0;        /* Espacio para que no se pegue al header */
    padding-top: 170px;
    padding-bottom: 270px;
}

.mancha {
    background-image: url('mancha.png'); /* El nombre de tu archivo PNG */
    background-size: contain;   /* Para que la mancha no se deforme */
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 150px;       /* Esto empuja el texto para que quede en el centro de lo negro */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 900px;           /* Ajustalo para que la mancha se vea grande como en el diseño */
}

.texto {
    font-family: 'Jersey 10', serif;
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 1.2;
    margin: 0; /* Importantísimo: le borra el margin-left que traía el p general */
}

.logo { 
    width: 440px; 
}

.info-evento {
    background-image: url('Rectangle.png'); /* El nombre de tu archivo PNG */
   background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center; /* Centra el grupo de las dos columnas */
    align-items: center;     /* Las nivela para que no quede una más arriba que otra */
    gap: 400px;              /* El espacio exacto entre texto y mapa */
    padding: 80px 0;
    color: white;
    background-color: #050505; /* O tu imagen de fondo */
}

.columna h2 { 
    font-size: 40px; 
    margin-bottom: 20px; 
}

.columna p { 
    font-family: 'Inter', sans-serif; /* Usamos la que ya tenés */
    font-size: 20px; 
    text-align: left; /* Para que no herede el centrado de arriba */
    margin: 10px 0; 
}

.marco-azul {
    border: 3px solid #0047FF; /* El detalle azul del Figma */
    padding: 15px;
}

.Listadatos p {
    text-align: left !important; /* El !important le gana al "p" general que tenías antes */
    font-family: 'Jersey 10', serif;
    font-size: 32px;
    margin: 8px 0; /* Espaciado entre renglones */
}